.our-customers{
    width: 100vw;
    padding: 10px;

    .section-title{
        text-align: center;
        margin-bottom: 30px;
    }
}

.our-customers-logos{
    display: flex;
    grid-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.our-customer-logo{
    filter: grayscale(100%);
    @include transitionEase(0.7s, ease-in-out);

    &:hover{
        filter: grayscale(0%);
        cursor: pointer;
    }
}

@media(max-width: 800px){
    .our-customers-logos{
        flex-wrap: wrap;
    }
}